<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>CH Robinson Project</title>
    <script src="static/foo.js"></script>
  </head>

  <body>
    <p>Valid country codes:
      <li>CAN</li>
      <li>USA</li>
      <li>MEX</li>
      <li>BLZ</li>
      <li>GTM</li>
      <li>SLV</li>
      <li>HND</li>
      <li>NIC</li>
      <li>CRI</li>
      <li>PAN</li>
    </p>
    <p>Enter country code: </p>
    <input type="text" id="user-input">
    <button onclick="analyzeInput()">click me</button>

    <p id="result"></p>
  </body>
</html>
